body {
    background-color:  #336791;
    
    font-family: "Lato", sans-serif;
}

.right {
    padding-left: 3%;
    padding-top: 2%;
}

#query {
    display: flex;
    align-items: center;
}

#editor {
    height: 500px;
    width: 70%;
    border: 1px solid black;
    display: flex;
    margin-right: 50px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

#txt {
    font-size: 20px;
}

#queryBtn {
    font-size: 20px;
    background-color: #C60C30;
    border-radius: 5px;
    padding: 7px;
}

#queryBtn:hover {
    background-color: #ad0c2d;
    cursor: pointer;
}

#clearBtn {
    font-size: 20px;
    background-color: #646464;
    border-radius: 5px;
    padding: 7px;
    margin-left: 30px;
}

#clearBtn:hover {
    background-color: #5b5b5b;
    cursor: pointer;
}

table {
    table-layout: fixed;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    word-wrap: break-word;
}

#form {
    text-align: center;
    align-items: center;
    margin-right: 50px;
    width: 310px;
}

#form fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
}

#fname, #email, #password {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    color: #2C3E50;
    font-size: 13px;
    border-radius: 3px;
}

#submit, #patch, #delete, #getdb{
    background: #898989;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 6px;
    padding: 7px 8px;
    margin-right: 7px;
    margin-top: 3px;
}

#submit:hover, #patch:hover, #delete:hover{
    background: #505050;
    cursor: pointer;
}

#getdb {
    background: #43d400;
    margin-left: 5px;
    margin-bottom: -2px;
    margin-top: -2px;
}

#getdb:hover {
    background: #3ab600;
    cursor: pointer;
}


.formTitle {
    font-size: 16px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

.formSubtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    width: 100%;
}